*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.headerSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(248, 196, 24);
  padding-top: 20px;
}

.center ul li{
  list-style: none;
  display: inline-flex;
  margin: 0px 5px;
}

a {
  text-decoration: none;
}

.title {
  font-size: 1rem;
}
.left{
  flex: 3;
  /* border: 1px solid royalblue; */
}

.center{
  flex: 4;
  /* border: 1px solid royalblue; */
}

.search {
  flex: 2;
  /* border: 1px solid royalblue; */
}

.search input {
  padding: 10px;
  width: 20rem;
  border-radius: 10px;
  margin-left: -150px;
}

.right{
  flex: 4;
  /* border: 1px solid royalblue; */
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.signin{
  margin-left: 50px;
}
.cart{
  margin-right: 50px;
}
.bannerSection {
  margin: 10px 0px;
}

.bannerBox img{
  width: 100%;
}

.menImages{
  display: flex;
  gap: 10px;
}

.menImages img{
  width: 210px;
  height: 210px;
}
